@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: Poppins;
}


body{
    background-color:#f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  
}

.sessao-servicos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:30px;
    

}

.catalogo{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
    width: 400px;
    
 
}
.catalogo:hover{
    box-shadow: 0 6px 8px 0 rgba(34, 31, 31, 0.2), 0 6px 20px 0 rgba(51, 49, 49, 0.144);
}


  /*Slider*/


  * {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin:  0;
  
  

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(241, 237, 237);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #f30808;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  
}


/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  
  
}
/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f30808;
  color: rgb(0, 0, 0);

}


/*Imagens*/
  
.article-title {
  display: flex;
  bottom: 0;
  width: 100px;
  padding: 5px;
  color: black;
  background-color:rgba(211, 211, 211, 0.726);
  margin-top: -90px;
  margin-left: 0px;
}


.article-titleG{
  display: flex;
  bottom: 0;
  width: 200px;
  padding: 5px;
  color: black;
  background-color:rgba(211, 211, 211, 0.726);
  margin-top: -90px;
  margin-left: 0px;
}


.icon{
  width: 50px;
  height: 55px;
  display: flex;
  margin-top: 10px;
  padding-top: 20px;
  margin-left: 5px;
}

.icon2{
  width: 50px;
  height: 40px;
  display: flex;
  margin-top: 10px;
  padding-top: 20px;
  margin-left: 5px;
}


h6{
  margin-left: 35px;
  color: black;
  font-family: Poppins;
  margin-top: -10px;
  
  
}